<h3>Categoria</h3>
<section style="margin-left: 8px;">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12 single-product" *ngFor="let item of itemList">
            <div class="product">
                <div class="imgbox">
                    <img [src]="item.img && item.img.formats.thumbnail.url ? 'http://localhost:1337' + item.img.formats.thumbnail.url : '../assets/unnamed.jpg'" alt="">
                </div>
                <div class="details">
                    <h5>{{item.name}}</h5>
                    <span>₡ {{item.price}}</span>
                </div>
            </div>
        </div>
    </div>
</section>