<aside id="sidebar" class="nano">
    <div class="nano-content">
        <div class="logo-container">
            <span style="color: rgb(255, 240, 240);">Pizpos</span>
        </div>
        <menu class="menu-segment">
            <ul>
                <li class="title">Menú <span class="icon">+</span>
                </li>
                <li *ngFor="let category of categoryList">
                    <a style="cursor: pointer;" (click)="onClickCategory(category)">{{category.name}}</a>
                </li>
            </ul>
        </menu>
        <!--<div class="separator"></div>-->
        <div class="bottom-padding"></div>
    </div>
</aside>
<main id="main">
    <div class="overlay"></div>
    <header class="header">
        <div class="search-box">
            <input placeholder="Search..."><span class="icon glyphicon glyphicon-search"></span>
        </div>
        <h1 class="page-title">
            <a class="sidebar-toggle-btn trigger-toggle-sidebar">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line line-angle1"></span>
                <span class="line line-angle2"></span>
            </a>
            <a>
                <span class="icon glyphicon glyphicon-chevron-down"></span>
            </a>
        </h1>
    </header>
    <div id="main-nano-wrapper" class="nano" style="overflow-y:scroll;">
        <app-itemlist [categorySend]="categorySend"></app-itemlist>
        <!--
        <div class="fabs" (click)="displayMenu($event)">
            <a target="_blank" class="fab"></a>
            <a target="_blank" class="fab"></a>
            <a target="_blank" class="fab"></a>
            <a id="prime" class="fab"><i class="prime zmdi zmdi-plus"></i></a>
        </div>-->
        <div class="fab-container">
            <div class="fab fab-icon">
                <i class="fas zmdi zmdi-plus"></i>
            </div>
            <ul class="fab-option">
                <li>
                    <span class="fab-label">Nueva factura</span>
                    <div class="fab-icon">
                        <i class="fas fa-question"></i>
                    </div>
                </li>
                <li>
                    <span class="fab-label">Ir a la ultima</span>
                    <div class="fab-icon">
                        <i class="fas fa-question"></i>
                    </div>
                </li>
                <li>
                    <span class="fab-label">Ver todas</span>
                    <div class="fab-icon">
                        <i class="fas fa-question"></i>
                    </div>
                </li>
            </ul>
        </div>
        <!--<div class="row">
            <div class="col-md-8">
                <app-itemlist></app-itemlist>
            </div>
            <div class="col-md-4">
                <app-billing></app-billing>
            </div>
        </div>-->
    </div>
</main>