<aside id="sidebar" class="nano">
    <div class="nano-content">
        <div class="logo-container">
            <span style="color: rgb(255, 240, 240);">Pizpos</span>
        </div>
        <menu class="menu-segment">
            <ul>
                <li class="title">Menú <span class="icon">+</span>
                </li>
                <li *ngFor="let category of categoryList">
                    <a style="cursor: pointer;" (click)="onClickCategory(category)">{{category.name}}</a>
                </li>
            </ul>
        </menu>
        <!--<div class="separator"></div>-->
        <div class="bottom-padding"></div>
    </div>
</aside>
<main id="main">
    <div class="overlay"></div>
    <header class="header">
        <div class="search-box">
            <input placeholder="Search..."><span class="icon glyphicon glyphicon-search"></span>
        </div>
        <h1 class="page-title">
            <a class="sidebar-toggle-btn trigger-toggle-sidebar">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line line-angle1"></span>
                <span class="line line-angle2"></span>
            </a>
            <a>
                <span class="icon glyphicon glyphicon-chevron-down"></span>
            </a>
        </h1>
    </header>
    <div id="main-nano-wrapper" class="nano" style="overflow-y:scroll;">
        <app-itemlist [categorySend]="categorySend"></app-itemlist>
        <!--
        <div class="fabs" (click)="displayMenu($event)">
            <a target="_blank" class="fab"></a>
            <a target="_blank" class="fab"></a>
            <a target="_blank" class="fab"></a>
            <a id="prime" class="fab"><i class="prime zmdi zmdi-plus"></i></a>
        </div>-->
        <div class="fab-container">
            <div class="fab fab-icon">
                <i class="fas zmdi zmdi-plus"></i>
            </div>
            <ul class="fab-option">
                <li>
                    <span class="fab-label">Nueva factura?????</span>
                    <div class="fab-icon">
                        <i class="fas fa-question"></i>
                    </div>
                </li>
                <li (click)="getLastBilling(lastbilling, nullBilling)">
                    <span class="fab-label">Ir a la ultima</span>
                    <div class="fab-icon">
                        <i class="fas fa-question"></i>
                    </div>
                </li>
                <li (click)="getAll(getAllBilling)">
                    <span class="fab-label">Ver todas</span>
                    <div class="fab-icon">
                        <i class="fas fa-question"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ng-template #getAllBilling let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Todas las facturas</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Orden</th>
                      <th scope="col">Mesa</th>
                      <th scope="col">Precio</th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemsBilling of billingList">
                        <td>{{itemsBilling.orderId}}</td>
                        <td>{{itemsBilling.numTable}}</td>
                        <td>₡ {{itemsBilling.purchaseValue | number: '3.'}}</td>
                        <td>
                            <button class="btn btn-dark" (click)="openDetail(itemsBilling, detailModalBilling)">Detalle</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>

    <ng-template #detailModalBilling let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Factura: {{detailBilling.orderId}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Producto</th>
                      <th scope="col">Tamaño</th>
                      <th scope="col">Precio</th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemsBilling of arrayitemsBilling">
                        <td>{{itemsBilling.recipe.name}}</td>
                        <td>{{itemsBilling.size.size}}</td>
                        <td>₡ {{itemsBilling.prices | number: '3.'}}</td>
                        <td><button class="btn btn-dark" (click)="removeItem(itemsBilling)"><i class="fas fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3">
                    <h3>Pagado:</h3>
                    <div class="can-toggle can-toggle--size-small">
                      <input id="b" type="checkbox" name="paidDetailBilling" #paidDetailBilling="ngModel" [(ngModel)]="detailBilling.paid">
                      <label for="b">
                        <div class="can-toggle__switch" data-checked="Si" data-unchecked="No"></div>
                      </label>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 50%;">
                    <div class="groupPrice">
                        <h3>Total:</h3>
                        <span>₡ {{detailBilling.purchaseValue}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" (click)="paidBilling()">Facturar</button>
        </div>
    </ng-template>

    <ng-template #nullBilling let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Vacio</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </ng-template>
    <ng-template #lastbilling let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Factura: {{billing.orderId}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Producto</th>
                      <th scope="col">Tamaño</th>
                      <th scope="col">Precio</th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemsBilling of arrayitemsBilling">
                        <td>{{itemsBilling.recipe.name}}</td>
                        <td>{{itemsBilling.size.size}}</td>
                        <td>₡ {{itemsBilling.prices | number: '3.'}}</td>
                        <td><button class="btn btn-dark" (click)="removeItem(itemsBilling)"><i class="fas fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3">
                    <h3>Pagado:</h3>
                    <div class="can-toggle can-toggle--size-small">
                      <input id="b" type="checkbox" (change)="assignValue($event)">
                      <label for="b">
                        <div class="can-toggle__switch" data-checked="Si" data-unchecked="No"></div>
                      </label>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 50%;">
                    <div class="groupPrice">
                        <h3>Total:</h3>
                        <span>₡ {{billing.purchaseValue | number: '3.'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" (click)="paidBilling()">Facturar</button>
        </div>
    </ng-template>
</main>